.socials__link, .logo, .nav__link, .mobile-menu__nav-link, .mobile-menu__contacts-link, .mobile-menu__socials-link, .contacts__link, .clients__link, .project__link, .adress__link {
  text-decoration: none;
}

.socials, .nav, .mobile-menu__nav-list, .mobile-menu__contacts-list, .mobile-menu__socials-list, .contacts, .features, .specialization, .team__list, .clients, .filters, .projects-list, .adress__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.reset-styles, .features__title, .features__desc, .team__name, .team__position, .project__title, .project_filter, .footer__invite, .modal__text {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin-700.woff") format("woff"), url("../fonts/raleway-v19-latin-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

.img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .header .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .header .container {
    justify-content: space-between;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    line-height: 1.17;
    font-size: 36px;
    letter-spacing: 0.03em;
  }
}

.btn {
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 16px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.btn-hero {
  display: inline-block;
  padding: 10px 32px;
  align-items: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
}

.btn-field {
  padding-bottom: 60px;
}

.btn-footer {
  display: inline-flex;
  align-items: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  padding: 10px 28px;
  font-weight: 700;
}

.btn-icon {
  margin-left: 10px;
}

.filters__btn {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.62;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:hover, .filters__btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-modal-send {
  display: flex;
  align-self: center;
  align-items: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 56px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.btn-modal__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal:hover .btn-modal__icon,
.btn-modal:focus .btn-modal__icon {
  fill: #2196f3;
}

.burger-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger-btn:hover {
  fill: #2196f3;
  outline: none;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-menu__btn:hover {
  fill: #2196f3;
  outline: none;
}

.socials {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  justify-content: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .socials {
    padding-bottom: 30px;
  }
}

.socials-footer {
  padding-bottom: 0;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__group {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:focus .socials__group,
.socials__link:hover .socials__group {
  fill: #ffffff;
  background-color: #2196f3;
}

.socials__icon {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:focus .socials__icon,
.socials__link:hover .socials__icon {
  fill: #ffffff;
  background-color: #2196f3;
}

.socials__group-bgcolor {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon-fill {
  fill: #ffffff;
}

.body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  line-height: 1.71;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.body.modal-open {
  overflow: hidden;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logo {
  font-family: Raleway;
  line-height: 1.19;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    line-height: 1.19;
    font-size: 26px;
    letter-spacing: 0.03em;
  }
}

.logo-black {
  color: #000000;
}

.logo-inverse {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link-current {
  position: relative;
  color: #2196f3;
}

.nav__link-current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  bottom: -1px;
}

@media screen and (min-width: 768px) {
  .nav__link-current::after {
    display: none;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link-current {
  position: relative;
  color: #2196f3;
}

.nav__link-current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  bottom: -1px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  max-width: 480px;
  padding: 48px 40px;
  transform: translateY(-100%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 100;
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 100;
}

.is-open {
  transform: translateY(0) translateX(-50%);
}

.mobile-menu__nav-list {
  margin: 0;
  padding: 0;
}

.mobile-menu__nav-item {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  list-style: none;
  font-weight: 500;
  line-height: 1.18;
  font-size: 40px;
  letter-spacing: 0.02em;
}

.mobile-menu__nav-item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__nav-link {
  color: #212121;
}

.nav-current {
  color: #2196f3;
}

.mobile-menu__contacts-list {
  margin: 0;
  padding: 0;
  margin-top: 302px;
}

.mobile-menu__contacts-item:first-child {
  margin-bottom: 32px;
}

.mobile-menu__contacts-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}

.menu-tel {
  line-height: 1.18;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-mail {
  line-height: 1.17;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__socials-list {
  display: flex;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 48px;
  padding-left: 0;
}

.mobile-menu__socials-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-item:last-child {
  border-right: none;
}

.mobile-menu__socials-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: auto;
    padding-left: 0px;
    display: block;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
    padding-left: 0px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts__link {
  color: #757575;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.16;
  font-size: 12px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__link-mail {
    align-items: flex-start;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 8px;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__icon-mail {
  width: 14px;
  height: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts__icon-mail {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon-tel {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 1200px) {
  .contacts__icon-tel {
    height: 16px;
  }
}

.hero {
  max-width: 480px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 767px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-mobile.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("/images/hero/hero@2x.jpg");
  }
}

.hero__title {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.61;
  font-size: 26px;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    padding-left: 252px;
    padding-right: 252px;
    line-height: 1.36;
    font-size: 44px;
    letter-spacing: 0.06em;
  }
}

.features {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.features__item {
  justify-content: center;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% / 2 - 30px));
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% / 4 - 30px));
  }
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.features__desc {
  color: #757575;
}

.features__icon {
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.section-specialization {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section-specialization {
    display: none;
  }
}

.specialization {
  display: flex;
  padding-left: 0px;
}

.specialization__item {
  position: relative;
}

.specialization__item:not(:last-child) {
  margin-right: 30px;
}

.specialization__name {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  color: #f5f4fa;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .team__item {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__photo {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__photo {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__photo {
    width: 270px;
  }
}

.team__content {
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  line-height: 1.19;
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.team__position {
  color: #757575;
  line-height: 1.19;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .title-clients {
    margin-bottom: 0;
  }
}

.clients {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .clients {
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .clients {
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    margin-left: 0;
  }
}

.clients_item {
  margin-left: 30px;
  margin-top: 30px;
  width: calc((100% - 2 * 30px) / 2);
}

@media screen and (min-width: 768px) {
  .clients_item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients_item {
    width: calc(100% / 6 - 30px);
  }
  .clients_item:first-child {
    margin-right: 0;
    margin-left: 0;
  }
}

.clients__link {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: #2196f3;
}

.clients__group {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__group {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .clients__group {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__group {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .filters {
    padding-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    padding-bottom: 50px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.projects-list {
  padding-left: 0px;
}

.projects-list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.project {
  display: flex;
  justify-content: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .project:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .project {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.project:hover, .project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link {
  display: flex;
  flex-direction: column;
}

.project__image {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.project__img {
  max-width: 100%;
}

.project__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  line-height: 1.55;
  font-size: 18px;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay {
  transform: translateY(0);
}

.project__content {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project__title {
  color: #212121;
  font-weight: bold;
  line-height: 2;
  font-size: 18px;
  letter-spacing: 0.06em;
}

.project_filter {
  color: #757575;
  line-height: 1.87;
  font-size: 16px;
  letter-spacing: 0.03em;
}

.footer {
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    position: relative;
    justify-content: space-between;
  }
}

.footer__contacts {
  padding-top: 60px;
  padding-bottom: 0px;
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    text-align: center;
  }
}

.footer__socials {
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    padding-top: 65px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    padding-top: 72px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__socials {
    text-align: center;
  }
}

.footer__invite {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer__form {
    margin-top: 60px;
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .footer__form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    padding-top: 72px;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .form__field {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .form__field {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
  }
}

.form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
  padding-left: 16px;
  line-height: 1.19;
  font-size: 18px;
  letter-spacing: 0.03em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border-color: #2196f3;
  outline: none;
  cursor: pointer;
}

.form__input::placeholder {
  line-height: 1.25;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input {
    width: 358px;
  }
}

.adress {
  color: #ffffff;
}

.adress__list {
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__link {
  font-style: normal;
  color: #f5f4fa;
}

.adress__link-color {
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px 94px 15px;
  }
}

.backdrop-is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2) rotate(360deg);
}

.modal {
  min-width: 450px;
  min-height: 609px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .modal {
    min-width: 90vw;
    min-height: 80vh;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  line-height: 1.5;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal__text {
    line-height: 1.15;
    font-size: 20px;
    letter-spacing: 0.03em;
  }
}

.form-modal {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .form-modal {
    width: 448px;
  }
}

.form-modal__label {
  position: relative;
  margin-bottom: 10px;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__field {
  display: block;
  position: relative;
  margin-top: 4px;
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:hover, .form-modal__input:focus {
  border-color: #2196f3;
  outline: none;
  cursor: pointer;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:hover + .form-modal__icon,
.form-modal__input:focus + .form-modal__icon {
  fill: #2196f3;
}

.checkbox__input:focus + .form-modal__icon {
  fill: #2196f3;
}

.form-modal__comment {
  margin-bottom: 0px;
}

.form-modal__textarea {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__textarea:hover, .form-modal__textarea:focus {
  border-color: #2196f3;
  outline: none;
  cursor: pointer;
}

.form-modal__textarea::placeholder {
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #757575;
  margin-bottom: 30px;
  cursor: pointer;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 480px) {
  .checkbox {
    line-height: 1.17;
    font-size: 9px;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .checkbox {
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
  }
}

.checkbox__input {
  border: 0;
  padding: 0;
  overflow: hidden;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.checkbox__input:hover + .checkbox__icon,
.checkbox__input:focus + .checkbox__icon {
  border-color: #2196f3;
}

.checkbox__agreement {
  text-decoration-line: underline;
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */