.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0px;

  @extend %list;

  margin: -15px;

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.clients_item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

.clients__link {
  color: #afb1b8;

  transition: color $timing $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @extend %link;
}

.clients__group {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border $timing $timing-function;

  .clients__link:hover & {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}
