.title-clients {
  @media screen and (max-width: 767px) {
    margin-bottom: 0;
  }
}

.clients {
  padding-left: 0px;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  @extend %list;

  @media screen and (max-width: 767px) {
    margin-left: -30px;
  }

  @media screen and (min-width: $tablet) {
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 0;
  }
}

.clients_item {
  margin-left: 30px;
  margin-top: 30px;

  width: calc((100% - 2 * 30px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: $desktop) {
    width: calc(100% / 6 - 30px);

    &:first-child {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.clients__link {
  color: #afb1b8;

  transition: color $timing $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @extend %link;
}

.clients__group {
  // width: 210px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border $timing $timing-function;

  .clients__link:hover & {
    border: 1px solid $accent-color;
  }

  @media screen and (min-width: $tablet) {
    width: 226px;
  }

  @media screen and (min-width: $desktop) {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}
