.contacts {
  @extend %list;

  display: none;

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    padding-left: 0px;
    display: flex;
    align-items: center;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.contacts__link {
  color: $secondary-text-color;

  font-weight: 500;

  @include font-style(1.14, 14px, 0.02em);

  transition: color $timing $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @extend %link;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  fill: currentColor;

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
    align-items: center;
  }
}
