.contacts {
  display: none;

  @extend %list;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    padding-left: 0px;
    display: block;
    align-items: center;
  }

  @media screen and (min-width: $desktop) {
    margin-left: auto;
    padding-left: 0px;
    display: flex;
    align-items: center;
  }
}

.contacts__item {
  @media screen and (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.contacts__link {
  color: $secondary-text-color;

  font-weight: 500;

  @include font-style(1.16, 12px, 0.02em);

  @media screen and (min-width: $desktop) {
    @include font-style(1.14, 14px, 0.02em);
  }

  transition: color $timing $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @extend %link;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  fill: currentColor;

  margin-right: 8px;
  align-items: center;

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}

.contacts__icon-mail {
  width: 14px;
  height: 10px;

  @media screen and (min-width: $desktop) {
    width: 16px;
    height: 12px;
  }
}

.contacts__icon-tel {
  width: 10px;
  height: 14px;

  @media screen and (min-width: $desktop) {
    height: 16px;
  }
}
