.features {
  padding-left: 0px;

  @extend %list;

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.features__item {
  @media screen and (min-width: $desktop) {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;

  @include font-style(1.14);

  @extend %reset-styles;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__desc {
  color: $secondary-text-color;

  @extend %reset-styles;
}

.features__icon {
  height: 120px;
  background-color: $secondary-background-color;

  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
