.features {
  padding-left: 0px;

  @extend %list;

  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.features__item {
  justify-content: center;
  margin: 15px;

  @media screen and (min-width: $tablet) {
    flex-basis: calc((100% / 2 - 30px));
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc((100% / 4 - 30px));
  }
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;

  text-transform: uppercase;

  @include font-style(1.14);

  @extend %reset-styles;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__desc {
  color: $secondary-text-color;

  @extend %reset-styles;
}

.features__icon {
  height: 120px;
  background-color: $secondary-background-color;

  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
