.footer {
  background-color: $header-footer-background-color;
}

.footer__container {
  display: flex;
}

.footer__contacts {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}

.footer__socials {
  padding-top: 72px;
}

.footer__invite {
  color: $primary-background-color;
  font-weight: 700;

  text-transform: uppercase;
  margin-bottom: 20px;

  @include font-style(1.14);

  @extend %reset-styles;
}

.footer__form {
  margin-left: auto;
  padding-top: 72px;
}

.form__field {
  margin-right: 12px;
}

.form {
  display: flex;
}

.form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: $primary-background-color;
  background-color: $header-footer-background-color;
  padding-left: 16px;

  @include font-style(1.19, 18px);

  transition: border-color $timing $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
    cursor: pointer;
  }

  &::placeholder {
    @include font-style(1.25, 16px);

    color: rgba(255, 255, 255, 0.6);
  }
}
