.logo {
  font-family: Raleway;
  @include font-style(1.19, 24px);
  color: $accent-color;

  @extend %link;

  @media screen and (min-width: $desktop) {
    @include font-style(1.19, 26px);
  }
}

.logo-black {
  color: #000000;
}

.logo-inverse {
  color: $primary-background-color;
}

.header__logo {
  @media screen and (min-width: $tablet) {
    margin-right: 88px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.footer__logo {
  display: inline-block;
}

.reset-styles {
  @extend %reset-styles;
}
