.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: none;

  padding-left: 0px;

  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.nav__link-current {
  position: relative;
  color: $accent-color;

  &::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;

    transition: color $timing $timing-function;

    bottom: -1px;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  @include font-style(1.14, 14px, 0.02em);
  font-weight: 500;

  transition: color $timing $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @extend %link;
}

.nav__link-current {
  position: relative;
  color: $accent-color;

  &::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;

    transition: color $timing $timing-function;

    bottom: -1px;
  }
}
