.filters {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
  padding-left: 0px;

  @extend %list;
}

.filters__item {
  margin-right: 8px;
}

.projects-list {
  // display: flex;
  flex-wrap: wrap;
  padding-left: 0px;

  @extend %list;
}

.project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;

  transition: box-shadow $timing $timing-function;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__link {
  @extend %link;
}

.project__image {
  position: relative;

  overflow: hidden;
}

.project__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  color: $primary-background-color;

  @include font-style(1.55, 18px);

  transform: translateY(100%);

  transition: transform $timing $timing-function;

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
  }
}

.project__content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;

  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.project__title {
  color: $primary-text-color;

  font-weight: bold;
  @include font-style(2, 18px, 0.06em);

  @extend %reset-styles;
}

.project_filter {
  color: $secondary-text-color;

  @include font-style(1.87, 16px);

  @extend %reset-styles;
}
