.section-specialization {
  padding-top: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.specialization {
  display: flex;
  padding-left: 0px;

  @extend %list;
}

.specialization__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.specialization__name {
  display: flex;

  position: absolute;

  bottom: 0;
  right: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;

  background: rgba(47, 48, 58, 0.8);
  color: $secondary-background-color;

  @include font-style(1.14);
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
}
